$xxLarge: 100em; // 1600px
$xxLargeMax: $xxLarge - 0.0625em;

$xLarge: 85.9375em; // 1375px
$xLargeMax: $xLarge - 0.0625em;

$large: 75em; // 1200px
$largeMax: $large - 0.0625em;

$mediumLarge: 64em; // 1024px
$mediumLargeMax: $mediumLarge - 0.0625em;

$medium: 56.25em; // 900px
$mediumMax: $medium - 0.0625em;

$mediumSmall: 48em; // 768px
$mediumSmallMax: $mediumSmall - 0.0625em;

$small: 37.5em; // 600px
$smallMax: $small - 0.0625em;

$tiny: 30em; // 480px
$tinyMax: $tiny - 0.0625em;

$base: 20em; // 320px